* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v2_20 {
  width: 100%;
  height: 911px;
  background: rgba(111,111,111,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_2 {
  width: 100%;
  height: 810px;
  background: url("latte.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 0px;
  overflow: hidden;
}
.v9_34 {
  width: 100%;
  height: 686px;
  background: url("../images/v9_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 224px;
  left: 0px;
  overflow: hidden;
}
.v9_32 {
  width: 475px;
  height: 212px;
  background: url("../images/v9_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 156px;
  overflow: hidden;
}
.v6_6 {
  width: 325px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Kanit;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v6_7 {
  width: 475px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 62px;
  left: 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Kanit;
  font-weight: SemiBold;
  font-size: 46px;
  opacity: 1;
  text-align: left;
}
.v6_8 {
  width: 288px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 155px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: justified;
}
.v9_7 {
  width: 100%;
  height: 126px;
  background: linear-gradient(rgba(207,207,207,0), rgba(173,173,173,1));
  opacity: 1;
  position: absolute;
  top: 560px;
  left: 0px;
  overflow: hidden;
}
.v9_33 {
  width: 142px;
  height: 84px;
  background: url("../images/v9_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 581px;
  left: 62px;
  overflow: hidden;
}
.v9_11 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Kanit;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v2_8 {
  width: 40px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 65px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_13 {
  width: 46px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 65px;
  left: 96px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_21 {
  width: 100%;
  height: 100px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_34 {
  width: 72px;
  color: rgba(202,202,202,1);
  position: absolute;
  top: 37px;
  left: 1020px;
  font-family: Kanit;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_35 {
  width: 72px;
  color: rgba(202,202,202,1);
  position: absolute;
  top: 37px;
  left: 1116px;
  font-family: Kanit;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_36 {
  width: 72px;
  color: rgba(202,202,202,1);
  position: absolute;
  top: 38px;
  left: 1212px;
  font-family: Kanit;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_37 {
  width: 72px;
  color: rgba(202,202,202,1);
  position: absolute;
  top: 38px;
  left: 1308px;
  font-family: Kanit;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_29 {
  width: 94px;
  height: 39px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 62px;
  overflow: hidden;
}
.v9_30 {
  width: 39px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 89px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
